<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ًWrite A Comment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div collapse="condense">
    <ion-card class="commentbutton">
      <ion-item>
        <ion-label position="stacked" size="large">Stacked Label</ion-label>
        <ion-textarea auto-grow="true" placeholder="Enter more information here..." [(ngModel)]="text"></ion-textarea>
      </ion-item>

      <ion-button expand="block" (click)="addComment()">Block Button</ion-button>
  </ion-card>
  </div>

</ion-content>

